task: detection

num_classes: 3
remap_mscoco_category: True

train_dataloader: 
  type: DataLoader
  dataset: 
    type: CocoXDetectiontrain1
    img_folder: ./dataset/align_flir/images
    ann_file: ./dataset/align_flir/annotations/align_flir_train_class3_ir.json
    transforms:
      type: Compose
      ops: ~
  shuffle: True
  batch_size: 8
  num_workers: 4
  drop_last: True 

val_dataloader:
  type: DataLoader
  dataset: 
    type: CocoXDetectiontrain1
    img_folder: ./dataset/align_flir/images
    ann_file: ./dataset/align_flir/annotations/align_flir_val_class3_ir.json
    transforms:
      type: Compose
      ops: ~ 

  shuffle: False
  batch_size: 8
  num_workers: 8
  drop_last: False